body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}


@font-face {
    font-family: "Roboto_r";
    src: url(/public/fonts/Roboto-Regular.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*-----------------CONTAINER--------------------*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* -------------------INTRO------------*/
.intro {
    width: 100%; height: 100vh;
    background: url("../images/intro.png") center no-repeat ;
    background-size: cover;
}

.header {
    width: 100%;
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_nav {
    font-size: 14px;
    text-transform: uppercase;
}

.custom-text-gradient {
    background-image: linear-gradient(to right, #fa6d0e, #e210f1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.custom-border-gradient {
    color: transparent;
    border: 1px solid; /* Устанавливаем ширину и начальный цвет бордера */
    border-radius: 24px;
    border-image: linear-gradient(to right, #fa6d0e, #e210f1); /* Устанавливаем градиент как изображение для бордера */
    border-image-slice: 1; /* Устанавливаем, чтобы градиент был на всю толщину бордера */
}

