@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hide-scroll {
   scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
   display: none;
}
.like {
  position: relative;
}

.like::before {
  content: "";
  position: absolute;
  inset: -4px -6px;
  background: transparent;
  border-radius: 20px;
}

.like:hover::before {
  background: rgba(0,0,0,.2);
}

@layer components {
  .auth-page h1, h3, h2 {
    @apply text-textColor dark:text-textColor-dark;
  }

  .auth-page p {
    @apply text-textSecColor dark:text-textSecColor-dark;
  }
}
